<%= render 'menu', { :permission => @permission } %>
<div id="left_column">
	<%= render 'eventlist' %>
</div>

<div id="right_column">
	<h1>Besucher</h1>
	<%=link_to "Besucher erstellen", new_visitor_path, :class => "block_link_visitor" %>

	<%= form_tag(search_visitor_path , :id => "search_form") do %>
	    <%= label_tag :searchValue, "Nach Nummer suchen: " %>
	    <%= text_field_tag :searchValue %>
	    <%= submit_tag "Go!" %>
	<% end %>
	<br/>
	<h3><%= @listtitle %></h3>
	<p>not implemented yet</p>
</div>
