<div id="menu">
  <div id="event_menu">
  <%= link_to "Stationen & Quiz", events_path %> | 
  <%= link_to "Events", timedevents_path %>
  </div>
	<%=link_to "Home", root_path %> | 
	<%=link_to "Ranking", ranking_path %> | 
	<%=link_to "Login", "#", :id => "login_button"%>
</div>
