<div id="event_menu"></div>
/*dieser ajaxlink bringt noch fehler: undefined method ?*/

<div id="event_menu_left"><%= link_to "Stationen & Quiz", stations_path, :remote => true, :id => "event_menu_events" %></div>
<div id="event_menu_right"><%= link_to "Events", timedevents_path, :remote => true, :id => "event_menu_timed" %></div>


<div id="menu">
	<%=link_to "Home", root_path %> | 
	<%=link_to "Ranking", ranking_path %> | 
   	<% if permission == 1 %>
		<%=link_to "Gruppe" %> |  	
   	<% elsif permission == 2 %>
	 	<%=link_to "Events verwalten", events_path %> | 
		<%=link_to "Benutzer verwalten", users_path %> | 
	<% end %> 		
	
	<% if permission == 0 %>
		<%=link_to "Login", login_path , :id => "loginbutton"%> 
	<% else %>
		<%=link_to "Logout", logout_path %> 
	<% end %>

</div>
