<%= render 'menu', { :permission => @permission } %>
<div id="left_column">
	<%= render 'eventlist' %>
</div>
<div id="right_column">
	<h1>Rangliste</h1>
	<table id="ranking">
	<tr class="tr_header">
		<td><span class="rank">Rang</span><span class="name">Name</span><span class="stars">Sterne</span></td>
	</tr>
		<%
		@visitors.each do |visitor| %>
			<tr>
				<td>
					<span class="rank"><%= @rank %></span>
					<span class="name"><%= visitor.name %></span>
					<span class="stars"><%= visitor.number_of_stars %> <%=image_tag("star.png", :height => "17") %></span>
				</td>
			</tr>
			<% @rank += 1 %>
		<% end %>
	</table>
</div>
