<%= render 'menu', { :permission => @permission } %>
<div id="left_column">
	<%= render 'eventlist' %>
</div>

<div id="right_column">	
<h1>User bearbeiten</h1>

<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h3>Es sind folgende Fehler aufgetreten:</h3>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </p>
    <p>
    <%= f.label :usertype %><br />
    <%= radio_button :user, :usertype, "admin" %> Admin
	<%= radio_button :user, :usertype, "guide" %> Guide
  </p>
  <p class="button"><%= f.submit %></p>
<% end %>
</div>