<%= render 'menu', { :permission => @permission } %>
<div id="left_column">
	<%= render 'eventlist' %>
</div>
<div id="right_column">
	<h1>User bearbeiten</h1>
	<% if @user.errors.any? %> <h3>Es sind folgende Fehler aufgetreten:</h3>
	<ul>
		<% for message in @user.errors.full_messages %>
		<li>
			<%= message %>
		</li>
		<% end %>
	</ul>
	<% end %>
	<%= form_for @user, :html => { :class => "user_form"} do |f| %>
	<p>
		<%= f.label :usertype %>
		<%= radio_button :user, :usertype, "admin" %> Admin
		<%= radio_button :user, :usertype, "guide" %> Guide
	</p>
	<p>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</p>
	<p>
		<%= f.label :email %>
		<%= f.email_field :email %>
	</p>
	<p class="button">
		<%= f.submit "Editieren" %>
	</p>
	<% end %>
</div>