<%= render 'menu', { :permission => @permission } %>
<div id="left_column">
	<%= render 'eventlist' %>
</div>

<div id="right_column">	
<h1>User erstellen</h1>

<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h3>Es sind folgende Fehler aufgetreten:</h3>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <p>
    <%= f.label :usertype, "Typ" %>
    <%= radio_button :user, :usertype, "admin" %> Admin
	<%= radio_button :user, :usertype, "guide" %> Guide
  </p>
    <p>
    <%= f.label :name, "Name" %>
    <%= f.text_field :name, :size => "70" %>
  </p>
  <p>
    <%= f.label :email, "E-Mail" %>
    <%= f.email_field :email, :size => "70" %>
  </p>
  <p>
    <%= f.label :password, "Passwort" %>
    <%= f.password_field :password, :size => "70" %>
  </p>
  <p>
    <%= f.label :password_confirmation, "Passwortbestätigung" %>
    <%= f.password_field :password_confirmation, :size => "70" %>
  </p>
  <p class="button"><%= f.submit %></p>
<% end %>
</div>