<%= render 'menu', { :permission => @permission } %>
<div id="left_column">
	<%= render 'eventlist' %>
</div>
<div id="right_column">
	<h1>Event erstellen</h1>
	<% if @event.errors.any? %> <h3>Es sind folgende Fehler aufgetreten:</h3>
	<ul>
		<% for message in @event.errors.full_messages %>
		<li>
			<%= message %>
		</li>
		<% end %>
	</ul>
	<% end %>

	<%= form_for @event, :html => { :class => "event_form", :multipart => true} do |e| %>
	<p>
		<%= e.label :isAStation, "Typ" %>
		<%= radio_button :event, :isAStation, true, :id => "radioButtonStation" %> Station oder Quiz
		<%= radio_button :event, :isAStation, false, :id => "radioButtonEvent" %> Event
	</p>
	<p>
		<%= e.label :title, "Titel" %>
		<%= e.text_field :title, :size => "83" %>
	</p>
	<p>
		<%= e.label :room, "Raum" %>
		<%= e.text_field :room, :size => "83" %>
	</p>
	<p>
		<%= e.label :short_description, "Untertitel" %>
		<%= e.text_area :short_description, :size => "62x1" %>
	</p>
	<p>
		<%= e.label :description, "Beschreibung" %>
		<%= e.tinymce :description, :size => "62x10" %>
	</p>
	<p>
		<%= e.label :image, "Bild" %>
		<%= e.file_field :image, :size => "10" %>
	</p>
	<p class="select_date" >
		<%= e.label :time_from, "Von" %>
		<%= e.datetime_select :time_from %>
	</p>
	<p class="select_date">
		<%= e.label :time_to, "Bis" %>
		<%= e.datetime_select :time_to %>
	</p>
	<p class="button">
		<%= e.submit "Event erstellen", :class => "submit_tag_big" %>
	</p>
	<% end %>
</div>