<%= render 'menu', { :permission => @permission } %>
<div id="left_column">
	<%= render 'eventlist' %>
</div>
<div id="right_column">
	<div id="image"><%= image_tag @event.photo.url, :width => "100%", :class => "imgRightCol" %></div>
	<div id="description">
    <h3><%= @event.title %></h3>
    <% if @event.isAStation == false %>
    Von: <%= german_time(@event.time_from) %> Uhr
    <br/>
    Bis: <%= german_time(@event.time_to) %> Uhr
    <% end %>
    <br/></br/>
    <%= @event.description.html_safe %>
    <br/><br/>
  </div>
</div>
