<!DOCTYPE html>
<html>
	<head>
		<title>EventGuide</title>
		<%= stylesheet_link_tag    "application" %>
		<%= stylesheet_link_tag	 "fancybox/jquery.fancybox-1.3.4" %>
		<%= javascript_include_tag "application" %>
		<%= javascript_include_tag "fancybox/jquery.fancybox-1.3.4.pack" %>
		<%= javascript_include_tag "fancybox/jquery.easing-1.3.pack" %>
		<%= javascript_include_tag "fancybox/jquery.mousewheel-3.0.4.pack" %>
		<%= csrf_meta_tags %>

		<%= init_tinymce_hammer_if_required %>
	</head>
	<body>
		<%= yield %>
	</body>
</html>
