<!DOCTYPE html>
<html>
	<head>
		<title>EventGuide</title>
		<%= stylesheet_link_tag    "application" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
		
		<%= init_tinymce_hammer_if_required %>

	</head>
	<body>
		<% flash.each do |key, msg| %>
		<div id="<%= key %>">
			<%= msg.html_safe %>
		</div>
		<% end %>
		<%= yield %>
	</body>
</html>
